<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tech.inversa.todolistapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Notas2 2.O Remasterizado"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity"
                    android:label="Notas2 Vol 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".HaveToPayAgregarActivity"
                android:label="Agregar Nota">
        </activity>
        <activity android:name=".time"
                   android:label="Baja Categoria" >
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".Main3Activity"
                    android:label="Categoria Alta">
        </activity>
        <activity android:name=".Main4Activity"
                    android:label="Categoria Media ">
        </activity>
    </application>

</manifest>